button {
    border: none;
    background-color: rgb(1, 0, 0);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4rem;
    height: 5rem;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(136, 135, 139);
  }
  
  .zero {
    grid-column: 1 / 3;
    
  }
  .topRow{
    background-color: rgb(136, 135, 139);
  }
  .topRow:hover{
    background-color: rgb(211, 206, 206);
    color:black;
  }
  .rightColumn{
    background-color: rgb(243, 147, 29);
  }
  
  .equals:hover {
    background-color: rgb(252, 136, 4);
  }
  