button {
    border: none;
    background-color: rgb(1, 0, 0);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(136, 135, 139);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(243, 147, 29);
  }
  
  .equals:hover {
    background-color: rgb(252, 136, 4);
  }
  